*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.hide{
    display: none;
}
h1{
    background-color: red;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
}
#container{
    background-color: aqua;
    width: 1000px;
    height: 600px;
   
}
#question{
    background-color: green;
    width: 300px;
    height: 300px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
    flex-wrap: wrap;
}
#btn-begin{
    background-color: blueviolet;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
}
.controls{
    display: flex;
    justify-content: center;
}
.correct{
    background-color: rgb(14, 189, 29);
}
.wrong{
    background-color: rgb(255, 0, 0);
}
#container-questions{
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    display: flex;
}
#container > #container-questions{
    display: flex;
    justify-content: center;
}
#container-results {
    margin-top: 20px;
}